<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>文观书城后台管理</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <!-- Font Awesome -->
        <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="/css/custom.min.css" rel="stylesheet">
        
    </head>
<body class="nav-md">
