<% include adminManage/adminHeader %>
<div class="container body">
        <div class="main_container">
                <% include adminManage/sideMenu %>
                <% include adminManage/topNav %>
                <% include adminManage/content %>
                <% include adminManage/bottom %>
        </div>
</div>