<% include common/adminHeader %>
<div class="container body">
        <div class="main_container">
                <% include common/sideMenu %>
                <% include common/topNav %>
                <% include common/content %>
                <% include common/bottom %>
        </div>
      </div>