<% item.Data.forEach(function(item){ %>
        <%= item.BookPhoto %>
<% }) %>

<% if (goods.typeId==-1) { %>
        <li class="active">所有消息</li>
<% }else{ %>
        <% if (goods.Data.length!=0&&goods.Data[0].Name) { %>
                <li class="active"><%= goods.Data[0].Name %></li>
        <% } %>
<% } %>