<div class="shadow-frame">
    <h4 class="text-error">销售量合集&nbsp;</h4>
    <div class="list-group">
        <% collection.forEach(function(item,index){ %>
            <a href="javascript:void(0)" class="list-group-item" title="<%= item.Name %>"><%= item.Name.length>12?item.Name.substring(0,12)+'...':item.Name %></a>
        <% }) %>
    </div>
</div>