<div class="shadow-frame">
    <a href="javascript:void(0)"><h4 class="text-error">专题合集&nbsp;<small>更多...</small></h4></a>
    <div class="list-group">
        <a href="javascript:void(0)" class="list-group-item">应求整理《鬼娃回魂》系列合集.高清中英双字</a>
        <a href="javascript:void(0)" class="list-group-item">盘点十大最经典超级英雄电影</a>
        <a href="javascript:void(0)" class="list-group-item">当代日本最接近大师的导演 — 是枝裕和</a>
        <a href="javascript:void(0)" class="list-group-item">盘点最经典的空战电影</a>
        <a href="javascript:void(0)" class="list-group-item">世界这么大，我想去电影里看看，盘点最好看的旅行电影</a>
        <a href="javascript:void(0)" class="list-group-item">冯小刚电影大盘点</a>
    </div>
</div>