<% include login %>
<% include register %>
<% include modal %>
<div class="footer">
    <div class="container">
        Copyright &copy <%= new Date().getFullYear() %> 文观书城 
    </div>
</div>
<!--返回顶部-->
<div class="xiangshang" id="xiangshang" title="返回顶部"></div>
<script src="js/main.js"></script>
</body>
</html>

