<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>文观书城</title>
        <link rel="icon" href="images/favicon.ico" type="image/ico" />
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    </head>
<body>
