<% include ../common/header %>
<% include ../common/nav %>
<style>
    .aboutHead{
        height: 300px;
        width: 100%;
        margin-top: 70px;
        padding-top: 50px;
        background: url('images/01.jpg');
        background-size: contain;
        border: 5px solid rgba(255, 255, 255, 0.3);
    }
    .aboutHead img{
        width: 100px;
        height: 100px;
        display: block;
        margin: auto;
        border: 5px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }
    .aboutHead h2,.aboutHead p{
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 2px #999;
    }
    .aboutContent{
        width: 100%;
        margin: auto;
        padding: 15px 5% 25px 10%;
        background: #fff;
    }
    .aboutContent h3{
        height: 90px;
        line-height: 90px;
    }
    .aboutContent ul li{
        height: 40px;
        line-height: 40px;
        list-style: square url("images/arrow.png");
    }
    .aboutContent p{
        height: 30px;

    }
    .aboutContent footer{
        padding-top: 15px;
        text-align: center;
        color: gray;
    }
</style>


<header class="aboutHead">
    <img src="images/jay.jpg" alt="XX">
    <h2>XXX</h2>
    <p>其实也还好</p>
</header>
<div class="aboutContent">
    <h3>About me</h3>
    <ul>
        <li>XXXXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
        <li>XXX，XXX</li>
        <li>web 全栈</li>
        <li>喜爱音乐、Coding</li>
    </ul>
    <h3>关于本站</h3>
    <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX。</p>
    <h3>联系方式</h3>
    <p>若对本站技术上有什么建议或问题，欢迎联系咨询</p>
    <p>微信号：XXXXXXXXXXXXXX</p>
    <p>邮箱：XXXXXXXXXXXXXXXXXXXX</p>
    <footer>copyRight by XXX</footer>
</div>
<% include ../common/footer %>