<% include ../common/header %>
<% include ../common/nav %>
<% include ../common/banner %>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ol class="breadcrumb shadow-frame">
                你现在正在浏览：
                <li><a href="/">首页</a></li>
                <% if (goods.typeId==-1) { %>
                    <li class="active">所有消息</li>
                <% }else{ %>
                    <% if (goods.Data.length!=0&&goods.Data[0].Name) { %>
                        <li class="active"><%= goods.Data[0].Name %></li>
                    <% } %>
                <% } %>
                <li class="active">搜索结果</li>
            </ol>
        </div>
        <div class="col-md-12 col-sm-12">
            <% include ../common/goodList %>
        </div>
    </div>
</div>
<% include ../common/footer %>